html,
body {
	box-sizing: border-box;
}
body,
#root {
	height: 100vh;
	margin: 0;
}
header {
	background-color: black;
	padding: 0.5rem;
}
footer {
	background-color: gray;
}
a {
	color: white;
	text-decoration: none;
}
